<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FlashDialog">
		<title>Flash</title>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes" />
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
			<object class="tool" name="TOOL_FLASH_LOAD" variable="ToolBarItem1" member="yes">
				<label>Load</label>
				<bitmap>icons/folder_page.png</bitmap>
			</object>
			<object class="tool" name="TOOL_FLASH_SAVE" variable="ToolBarItem2" member="yes">
				<label>Save</label>
				<bitmap>icons/disk.png</bitmap>
			</object>
		</object>
	</object>
</wxsmith>
